*{
    width: 100%;
    margin: 0;
    padding: 0;
}
.Calculator{
    margin-top: 5rem;
    background-color: rgba(12, 84, 95, 0.764);
    width: 50%;
    /* height: 26rem; */
    margin-left: 25%;
    padding: 1rem;
    border-radius: 10px;
}
h1{
    text-align: center;
}
.cal-continear{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
.contanear{
    padding: 16px;
    border-radius: 10px;
    background-color: rgba(241, 213, 175, 0.707);
}
.bill{
    margin-top: 8px;
}
.input{
    height: 1.5rem;
    border-radius: 5px;
    border: none;
}
label{
    font-size: 1.5rem;
    font-weight: bold;
}
.tips{
    margin-top: 1.3rem;
}
.pers{
    display:flexbox;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.pers-btn{
    width: 5.8rem;
    height: 2rem;
    margin-top: 8px;
    border-radius: 5px;
    /* border: none; */
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(16, 31, 93, 0.793);
}
.pers-btn:hover{
    background-color: rgba(70, 98, 208, 0.793);
}
#custominput{
    visibility: hidden;
}
.people{
    margin-top: 1.2rem;
}
#Calculat{
    height: 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
    background-color: rgb(9, 91, 9);
}
#Calculat:hover{
    background-color: rgb(3, 167, 3);
}
.display{
    padding: 16px;
    border-radius: 10px;
    background-color: rgba(16, 72, 44, 0.541);
    display: flex;
    flex-direction: column;
}
.tip-amount{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    height: 4rem;
    align-items: center;
}
.tip-per-head{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    height: 4rem;
    align-items: center;
}
.pera{
    font-size: 1.4rem;
    font-weight: bold;
}
.amount{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: end;
    /* overflow: hidden; */
}
#reset{
    height: 2rem;
    border-radius: 5px;
    /* border: none; */
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2.6rem;
    cursor: pointer;
    background-color: rgb(180, 13, 13);
}
#reset:hover{
    background-color: red;
}
